.profit-item {
  &__cancel-icon {
    color: #95939e;
    transform: scale(0.6);
    opacity: 0.7;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;

    &:hover {
      opacity: 1;
    }

    &_hidden {
      display: none;
    }
  }

  &__inputs {
    display: grid;
    grid-gap: 16px;
    align-items: center;
    grid-template-columns: 44px 110px 62px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    margin-bottom: 8px;
  }
}
