.take-profit {
  &__switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    font-size: 14px;
    background-color: #2c273d;
    color: #fff;
  }
}